@media (max-width: 1440px) {
    .body {
        background-size: cover;
    }
}

@media (max-width: 1200px) {
    .header__inner {
        padding: 21px 0;
    }
    .top__inner {
        padding: 50px 0;
    }
}

@media (max-width: 1024px) {
    .body {
        font-size: 18px;
    }
    .top {
        &__inner {
            padding: 30px 0;
        }
        &__title {
            font-size: 38px;
        }
        &__btn {
            margin-top: 15px;
        }
    }
    .button {
        font-size: 18px;
        padding: 15px 40px;
    }
    .logo {
        padding: 10px 18px;
    }
    .device {
        &__inner {
            padding-bottom: 60px;
        }
        &__title {
            font-size: 48px;
        }
        &__info-text {
            &::before {
                width: 16px;
                height: 12px;
                top: 4px;
                left: -36px;
            }
        }
        &__price-num {
            font-size: 65px;
        }
        &__price-btn {
            font-size: 24px;
        }
        &__functions-title {
            padding-left: 30px;
            &::before {
                width: 16px;
                height: 12px;
                top: 4px;
            }
        }
        &__functions-text {
            padding-left: 20px;
            &::before {
                width: 12px;
                height: 12px;
                top: 4px;
            }
        }
        &__phone {
            max-width: 500px;
        }
    }
    .footer {
        &__logo {
            margin-right: 60px;
        }
        &__btn {
            font-size: 18px;
        }
    }
}

@media (max-width: 785px) {
    .body {
        font-size: 16px;
    }
    .container-fluid {
        padding: 0 15px;
    }
    .header {
        &__inner {
            padding: 10px 0;
        }
        &__logo {
            margin-right: 30px;
        }
        &__lang {
            font-size: 8px;
        }
        &__lang-link {
            width: 24px;
            padding-top: 20px;
            &::before {
                width: 24px;
                height: 12px;
            }
        }
    }
    .top {
        &__inner {
            padding: 15px 0;
        }
        &__title {
            font-size: 32px;
            margin-bottom: 15px;
        }
        &__text {
            margin-bottom: 10px;
        }
    }
    .button {
        font-size: 16px;
        padding: 10px 30px;
    }
    .device {
        &__inner {
            padding-top: 65px;
        }
        &__title {
            font-size: 38px;
        }
        &__info-list {
            margin-bottom: 30px;
        }
        &__price-num {
            font-size: 50px;
        }
        &__price-btn {
            font-size: 18px;
            padding: 15px 40px;
        }
        &__phone {
            max-width: 430px;
        }
    }
    .footer {
        &__inner {
            padding: 20px 0 24px;
        }
    }
}

@media (max-width: 700px) {
    .popup {
        &__card {
            padding: 20px;
            max-width: 500px;
        }
        &__title {
            text-align: center;
        }
        &__form {
            flex-direction: column;
            align-items: center;
        }
        &__feedback {
            & .popup__card {
                height: 150px;
            }
        }
        &__text {
            text-align: center;
            margin: 0 auto;
        }
    }
}

@media (max-width: 650px) {
    .top {
        &__title {
            font-size: 24px;
        }
    }
    .device {
        &__item {
            padding-bottom: 60px;
        }
        &__functions-text {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 580px) {
    .header {
        &__inner {
            justify-content: space-between;
        }
        &__logo {
            margin-right: 15px;
        }
        &__phone {
            display: flex;
            flex-direction: column;
            margin-right: 0;
        }
        &__phone-item + .header__phone-item {
            margin-left: 0;
        }
    }
    .top {
        &__info {
            width: 60%;
        }
    }
    .device {
        &__inner {
            padding-bottom: 35px;
        }
        &__item {
            padding-bottom: 80px;
        }
        &__info-list {
            margin-bottom: 5px;
        }
    }
    .footer {
        font-size: 14px;
        &__logo {
            margin-right: 20px;
        }
        &__btn {
            font-size: 14px;
        }
    }
    .popup {
        &__card {
            max-width: 300px;
            height: 300px;
            padding-top: 45px;
        }
        &__feedback .popup__card {
            height: 230px;
        }
        &__text {
            width: auto;
        }
    }
}

@media (max-width: 480px) {
    .device {
        &__inner {
            padding-top: 25px;
        }
        &__item {
            margin-bottom: 40px;
        }
        &__functions-box {
            margin-bottom: 15px;
        }
        &__functions-title {
            margin-bottom: 15px;
        }
        &__contacts {
            flex-direction: column;
        }
        &__btn {
            margin-bottom: 15px;
        }
        &__phone {
            margin-left: 0;
            max-width: auto;
        }
    }
    .footer {
        &__inner {
            flex-direction: column;
        }
        &__logo {
            margin: 0 0 15px;
        }
        &__text {
            margin: 0 0 15px;
        }
    }
}