@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.body {
    background-image: url(../images/main-bg.jpg);
    background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position: top center;
}

.header {
    &__inner {
        padding: 32px 0;
        display: flex;
        align-items: center;
    }
    &__logo {
        color: $light-blue;
        border-color: $light-blue;
        margin-right: 62px;
    }
    &__phone {
        display: flex;
        margin-right: auto;
    }
    &__phone-item + .header__phone-item {
        margin-left: 10px;
    }
    &__phone-link {
        font-weight: 600;
        color: $dark-blue;
    }
    &__lang {
        display: flex;
        font-size: 14px;
    }
    &__lang-item {
        margin-left: 15px;
    }
    &__lang-link {
        display: inline-block;
        color: #A3BEF5;
        width: 32px;
        text-align: center;
        padding-top: 25px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 32px;
            height: 16px;
            top: 0;
            left: 0;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &.ua::before {
            background-image: url(../images/ua-flag.png);
        }
        &.pl::before {
            background-image: url(../images/pl-flag.png);
        }
    }
    &__lang-link--active {
        color: #357BD3;
    }
}

.top {
    &__inner {
        padding: 77px 0 90px;
        color: $dark-blue;
    }
    &__info {
        width: 50%;
        margin-left: auto;
    }
    &__title {
        font-size: 52px;
        margin-bottom: 30px;
    }
    &__text {
        margin-bottom: 18px;
        max-width: 575px;
    }
    &__text b {
        font-weight: 800;
    }
    &__btn {
        margin-top: 30px;
    }
}

.device {
    &__inner {
        padding: 95px 0 80px;
    }
    &__title {
        text-align: center;
        font-size: 64px;
        color: $dark-blue;
        margin-bottom: 44px;
    }
    &__item {
        position: relative;
        margin-bottom: 65px;
    }
    &__item-img {
        object-fit: cover;
    }
    &__info {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__info-list {
        width: 45%;
        margin-left: auto;
        margin-bottom: 48px;
    }
    &__info-text {
        margin-bottom: 12px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 16px;
            top: 6px;
            left: -44px;
            background-color: #357BD3;
            border-radius: 0px 4px 4px 0px;
        }
    }
    &__price {
        display: flex;
        align-items: center;
    }
    &__price-num {
        font-size: 80px;
        font-weight: 700;
        color: $dark-blue;
    }
    &__price-btn {
        display: inline-block;
        font-size: 28px;
        font-weight: 700;
        color: $white;
        padding: 20px 48px;
        background-color: $light-blue;
        border-radius: 6px;
        margin-left: 24px;
    }
    &__functions-box {
        margin-bottom: 32px;
    }
    &__functions-title {
        color: $light-blue;
        padding-left: 36px;
        position: relative;
        padding-bottom: 5px;
        border-bottom: 1px solid $light-blue;
        margin-bottom: 28px;
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 16px;
            top: 6px;
            left: 0;
            background-color: #357BD3;
            border-radius: 0px 4px 4px 0px;
        }
    }
    &__functions-list {
        display: flex;
        flex-wrap: wrap;
    }
    &__functions-text {
        width: 50%;
        padding-left: 28px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            top: 6px;
            left: 0;
            background-color: #A3BEF5;
            border-radius: 0px 4px 4px 0px;
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
    }
    &__phone {
        font-weight: 700;
        color: $dark-blue;
        margin-left: 48px;
    }
}


.footer {
    background-color: $dark-blue;
    &__inner {
        display: flex;
        align-items: center;
        padding: 40px 0 48px;
    }
    &__logo {
        color: $white;
        border-color: $white;
        margin-right: 98px;
    }
    &__text {
        color: $white;
        margin-right: auto;
    }
    &__btn {
        font-size: 20px;
        color: $dark-blue;
        background-color: $white;
        padding: 12px 24px;
        border-radius: 6px
    }
}

@import 'media';